body {
  font-family: Arial, sans-serif;
  background-color: #f2f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.app-body {
  background: #ffffff;
  padding: 20px 25px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.date{
    text-align: center;
}

h1 {
  margin: 0 0 5px;
  text-align: center;
}

.subtitle {
  text-align: center;
  color: #777;
  font-size: 14px;
  margin-bottom: 15px;
}

.text-area {
  width: 70%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

label {
  display: block;
  margin: 8px 0;
  font-size: 15px;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popupContent {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 250px;
  text-align: center;
}
