body {
  font-family: Arial, sans-serif;
  background-color: #8f9cb8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.app-body {
  background: #ffffff;
  padding: 20px 25px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.date {
  font-size: 14px;
  color: #888;
  margin-bottom: 12px;
  text-align: center;
  letter-spacing: 1px;
}

h1 {
  margin: 0 0 5px;
  text-align: center;
}

.subtitle {
  text-align: center;
  color: #777;
  font-size: 14px;
  margin-bottom: 15px;
}

.text-area {
  width: 70%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: #aa16a3;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #551647;
}

label {
  display: block;
  margin: 8px 0;
  font-size: 15px;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popupContent {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 250px;
  text-align: center;
}

.buttonSection {
  display: flex;
  justify-content: center;
  gap: 10px; 
}
#historyList {
  list-style: none;
  padding: 0;
  margin: 15px 0;
  width: 100%;
  overflow-y: auto;
}
#historyList li {
  background: #222;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 6px;
  text-align: left;
  word-break: break-word; 
}

#authSection {
  max-width: 330px;
  margin: 40px auto;
  padding: 40px;
  background: #1f1f1f;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

#authSection h3 {
  margin-bottom: 15px;
  color: #ffffff;
  font-weight: 600;
}

#authSection input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 14px;
}

#authSection button {
  width: 48%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: 0.3s;
}

#authSection button:first-of-type {
  background: #4caf50;
  color: white;
}

#authSection button:last-of-type {
  background: #2196f3;
  color: white;
}

#authSection button:hover {
  opacity: 0.9;
}
